.myCafe{
    padding: 64px;
    background-color:transparent;
    font-family: 'Courgette', cursive;
    color:#622d90;
  }
  .cafe{
    padding: 75px;
    
    display: flex;
    justify-content: center;  
    align-items: center;
    color:#E8FFC2;
    flex-direction: column;
    font-style: normal;
    font-size: xx-large;
    /* font-family: 'Lobster', cursive; */
    font-family: 'Lemon', cursive;
    /* opacity: 0.8; */
  }
  
  .myCafe1{
    margin:50;
    padding: 64px;
    background-color:#f7d7c2;
  }
  
  .Book1{
    text-align: center;
    display: flex; 
    justify-content: center;  
    color:#0E185F;
    padding: 16px;
    background-color:#2FA4FF;
    font-family: 'Courgette', cursive;
  }
  
  .Book2{
    text-align: center;
    display: flex; 
    justify-content: center;  
    color:#444fad;
    padding: 64px;
    background-color:#e7b6ad;
    font-family: 'Courgette', cursive;
  }
  .font_line{
    font-family: 'Mitr',cursive;
  }