.myStyleBev{
    padding: 125px;
    display: flex; 
    justify-content: center;  
    align-items: center;
    color:white;
    flex-direction: column;
    font-family: sans-serif;
    font-family: 'Permanent Marker', cursive;

}